@font-face {
  font-display: swap;
  font-family: "OpenSans-Semibold";
  src: url(../fonts/OpenSans-Semibold.woff) format("woff"), url(../fonts/OpenSans-Semibold.eot) format("embedded-opentype"), url(../fonts/OpenSans-Semibold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "OpenSans-Light";
  src: url(../fonts/OpenSans-Light.woff) format("woff"), url(../fonts/OpenSans-Light.eot) format("embedded-opentype"), url(../fonts/OpenSans-Light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "OpenSans-Regular";
  src: url(../fonts/OpenSans-Regular.woff) format("woff"), url(../fonts/OpenSans-Regular.eot) format("embedded-opentype"), url(../fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "OpenSans-Bold";
  src: url(../fonts/OpenSans-Bold.woff) format("woff"), url(../fonts/OpenSans-Bold.eot) format("embedded-opentype"), url(../fonts/OpenSans-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #393939;
}

body {
  font-family: "OpenSans-Regular";
}

.btn {
  border-radius: 30px;
  outline: none;
}

.btn:hover {
  cursor: pointer;
}

.basket {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 977px;
  min-height: 488px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.28);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.28);
  border: 1px solid #f1d6da;
  background-color: #ffffff;
}

.basket-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 58px;
  padding: 0 35px 0 30px;
  background-color: #00b5ee;
}

.basket-header__title, .basket-header__close {
  font-family: "OpenSans-Bold";
  display: block;
  font-size: 16px;
  line-height: 17px;
  color: white;
}

.basket-header__close {
  font-family: "OpenSans-Regular";
  font-size: 23px;
}

.basket-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: -21px;
  padding: 33px 30px 25px 30px;
}

.basket__total_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 28px;
  width: 100%;
  height: 65px;
  font-family: "OpenSans-Semibold";
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  background-color: #dff7ff;
}

.basket__total_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 86px;
  padding-right: 29px;
  padding-left: 26px;
}

.basket__continue {
  width: 237px;
  height: 49px;
  font-family: "OpenSans-Semibold";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #2c2c2c;
  border: 1px solid #393939;
  background-color: white;
}

.basket__continue:hover {
  border: 1px solid #00b5ee;
  background-color: #00b5ee;
  color: white;
}

.basket__end {
  width: 196px;
  height: 47px;
  font-family: "OpenSans-Semibold";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: white;
  background-color: #00b5ee;
  border: 1px solid #00b5ee;
}

.basket__end:hover {
  color: #2c2c2c;
  border: 1px solid #393939;
  background-color: white;
}

.total_color {
  display: inline-block;
  margin-left: 2px;
  font-size: 24px;
  color: #00b5ee;
}

.main__title {
  font-family: "OpenSans-Semibold";
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
}

.main__value {
  margin-top: 3px;
  font-family: "OpenSans-Regular";
  font-size: 15px;
  font-weight: 500;
  line-height: 17px;
}

.main__box_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 9px;
  margin-bottom: 106px;
  width: 725px;
  height: 48px;
}

.main__box_info__name {
  width: 256px;
}

.main__box_info__attrubute {
  width: 167px;
}

.main__box_info__number {
  width: 127px;
}

.main__box_info__price {
  width: 174px;
}

.main__box_info__error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 11px;
}

.main__box_info__img {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: -4px;
}

.main__box_footer {
  width: 100%;
  text-align: end;
}

.main__box_footer__info {
  font-family: "OpenSans-Semibold";
  font-size: 16px;
  line-height: 17px;
}

.num_color {
  color: #00b5ee;
}
/*# sourceMappingURL=style.css.map */