@font-face {
  font-display: swap;
  font-family: "OpenSans-Semibold";
  src: url(../fonts/OpenSans-Semibold.woff) format("woff"), url(../fonts/OpenSans-Semibold.eot) format("embedded-opentype"), url(../fonts/OpenSans-Semibold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "OpenSans-Light";
  src: url(../fonts/OpenSans-Light.woff) format("woff"), url(../fonts/OpenSans-Light.eot) format("embedded-opentype"), url(../fonts/OpenSans-Light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "OpenSans-Regular";
  src: url(../fonts/OpenSans-Regular.woff) format("woff"), url(../fonts/OpenSans-Regular.eot) format("embedded-opentype"), url(../fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "OpenSans-Bold";
  src: url(../fonts/OpenSans-Bold.woff) format("woff"), url(../fonts/OpenSans-Bold.eot) format("embedded-opentype"), url(../fonts/OpenSans-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "RobotoCondensed-Bold";
  src: url(../fonts/RobotoCondensed-Bold.woff) format("woff"), url(../fonts/RobotoCondensed-Bold.eot) format("embedded-opentype"), url(../fonts/RobotoCondensed-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #393939;
}

.test_scroll {
  width: 100%;
  height: 500px;
}

body {
  font-family: "OpenSans-Regular";
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.btn, button {
  border-radius: 30px;
  border: none;
  outline: none;
}

.btn:hover, button:hover {
  cursor: pointer;
}

input {
  outline: none;
}

a {
  text-decoration: none;
  outline: none;
}

.price_buy_btn__img:hover, .sale__wrapper_box:hover {
  cursor: pointer;
}

.aside_shadow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
}

@media (max-width: 1170px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 950px) {
  .container {
    max-width: 595px;
  }
}

@media (max-width: 650px) {
  .container {
    max-width: 395px;
  }
}

@media (max-width: 435px) {
  .container {
    max-width: 320px;
  }
}

@media (max-width: 400px) {
  .container {
    max-width: 290px;
  }
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding-left: 7px;
  padding: 30px 0 32px 2px;
  height: 117px;
}

.navbar-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 323px;
}

.navbar-info__numbers_tel {
  display: block;
  font-family: "OpenSans-Regular";
  margin-left: -7px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #393939;
}

.navbar-info__btn {
  width: 142px;
  height: 36px;
  margin-right: 3px;
  border: 1px solid #00b5ee;
  background-color: #ffffff;
  font-family: "OpenSans-Regular";
  font-size: 11px;
  font-weight: 400;
  line-height: 21px;
  color: #00b5ee;
}

.navbar-info__btn:hover {
  background-color: #00b5ee;
  color: white;
}

.navbar-logo {
  width: 164px;
  margin-left: -101px;
}

.navbar-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 2px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 219px;
}

.icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 7px;
}

.icon__info {
  margin: 0;
  font-family: "OpenSans-Semibold";
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  color: #393939;
}

.bas_correct {
  margin-bottom: -4px;
}

.heart {
  padding-left: 7px;
}

.circle {
  position: absolute;
  top: -13px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 23px;
  height: 23px;
  padding-left: 7px;
  border-radius: 50%;
  color: white;
  background-color: #ffc740;
}

@media (max-width: 1170px) {
  .navbar-logo {
    margin-left: -42px;
  }
}

@media (max-width: 950px) {
  .navbar-container {
    height: 78px;
  }
  .navbar-info {
    display: none;
  }
  .navbar-logo {
    margin-left: 0;
  }
}

@media (max-width: 750px) {
  .navbar-logo_img {
    width: 115px;
    height: 38px;
  }
  .navbar-client {
    height: 100%;
    width: 107px;
  }
  .dress_correct {
    margin-bottom: -4px;
    margin-left: 0;
    width: 22px;
    height: 24px;
  }
  .heart {
    padding: 0;
  }
  .heart_correct {
    width: 22px;
    height: 20px;
  }
  .bas_correct {
    margin-right: 5px;
    width: 27px;
    height: 26px;
  }
  .icon__info {
    display: none;
  }
  .circle {
    top: -3px;
    right: -4px;
    padding-left: 6px;
    width: 18px;
    height: 18px;
    font-size: 9px;
    font-weight: 400;
    line-height: 16.33px;
  }
}

@media (max-width: 400px) {
  .navbar-logo_img {
    width: 108px;
    height: 36px;
  }
  .dress_correct {
    margin-bottom: -4px;
    margin-left: -3px;
  }
  .bas_correct {
    margin-right: 5px;
  }
  .circle {
    top: -3px;
    right: -1px;
  }
}

.navbar-menu {
  width: 100%;
  height: 65px;
  background-color: #00b5ee;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  height: 100%;
}

.menu__hamburger {
  margin-left: 3px;
  width: 20px;
}

.menu__list_one, .menu__list_two, .menu__list_three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu__list_one:hover, .menu__list_two:hover, .menu__list_three:hover {
  cursor: pointer;
  background-color: #008ebb;
}

.menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 584px;
  margin-right: 10px;
}

.menu__list_one {
  margin-left: 18px;
  width: 23%;
}

.menu__list_two {
  width: 26%;
}

.menu__list_three {
  width: 53%;
}

.menu__list_text {
  margin-right: 15px;
  color: white;
}

.menu-form {
  position: relative;
  width: 525px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: -3px;
}

.menu-form_input {
  padding-left: 20px;
  width: 400px;
  height: 43px;
  border: none;
  border-radius: 30px;
  font-family: "OpenSans-Regular";
  font-size: 13px;
  font-weight: 300;
  line-height: 15px;
  color: #000000;
  background-color: white;
}

.menu-form_btn {
  position: absolute;
  top: 50%;
  right: 12px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: none;
}

.menu-form_btn__glass {
  width: 18px;
  height: 18px;
}

.menu-form_btn__glass:hover {
  cursor: pointer;
}

@media (max-width: 1170px) {
  .menu-form {
    width: 273px;
  }
}

@media (max-width: 950px) {
  .menu-wrapper {
    display: none;
  }
  .menu-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 314px;
  }
  .menu-form_input {
    width: 314px;
    height: 33px;
  }
}

@media (max-width: 750px) {
  .navbar-menu {
    height: 46px;
  }
  .menu__hamburger {
    width: 20px;
    height: 16px;
  }
  .menu-form_btn {
    right: 7px;
  }
}

@media (max-width: 435px) {
  .menu-form_input {
    width: 253px;
  }
}

@media (max-width: 400px) {
  .menu-form {
    width: 276px;
  }
  .menu-form_input {
    padding-left: 18px;
    width: 238px;
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
  }
  .menu-form_btn {
    right: 10px;
  }
  .menu__hamburger {
    margin-left: 0;
  }
}

.portfolio-container {
  margin: 0 auto;
  padding-top: 19px;
}

.portfolio__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio__wrapper_active {
  display: none;
}

.portfolio__left_down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__left_up {
  position: relative;
  margin-bottom: 13px;
  width: 765px;
  height: 316px;
}

.portfolio__left_up__img {
  max-width: 100%;
  max-height: 100%;
}

.portfolio__left_box {
  position: relative;
  width: 375px;
  height: 327px;
}

.portfolio__left_img {
  max-width: 100%;
  max-height: 100%;
}

.portfolio__right {
  position: relative;
  width: 361px;
  height: 655px;
}

.portfolio__right_img {
  max-width: 100%;
  max-height: 100%;
}

.portfolio__info {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 75px;
  font-family: "OpenSans-Semibold";
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #393939;
  background-color: white;
  opacity: 0.6;
}

@media (max-width: 1170px) {
  .portfolio__wrapper {
    display: none;
  }
  .portfolio__wrapper_active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portfolio__left_box {
    width: 290px;
    height: 254px;
    margin-bottom: 10px;
  }
}

@media (max-width: 750px) {
  .portfolio__wrapper_active {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .portfolio__left_box {
    margin-bottom: 16px;
  }
  .portfolio__info {
    height: 59px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16.31px;
  }
}

@media (max-width: 650px) {
  .portfolio__wrapper_active {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 400px) {
  .portfolio__left_box {
    height: 255px;
  }
  .portfolio__left_img {
    min-width: 100%;
    min-height: 100%;
  }
}

.sale {
  width: 100%;
  padding-bottom: 55px;
}

.sale_arrows {
  display: none;
}

.sale-container {
  text-align: center;
  padding-top: 54px;
  padding-bottom: 0;
}

.sale__title {
  margin-top: -2px;
  margin-bottom: 17px;
  font-family: "OpenSans-Semibold";
  font-size: 26px;
  font-weight: 400;
  line-height: 21px;
}

.sale__line {
  margin: 0 auto;
  margin-bottom: 24px;
  width: 66px;
  height: 1px;
  border-top: 2px solid #dddddd;
}

.sale__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sale__wrapper_box {
  position: relative;
  width: 263px;
  height: 386px;
  padding: 6px 18px 22px 18px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
}

.sale__free {
  position: absolute;
  top: 17px;
  left: 17px;
}

.sale__free_new {
  position: absolute;
  top: 62px;
  left: 17px;
}

.sale__text_title {
  margin-top: 19px;
  margin-bottom: -4px;
  font-family: "OpenSans-Semibold";
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.sale__text_subtitle {
  margin-bottom: 10px;
  font-family: "OpenSans-Regular";
  font-size: 13px;
  color: #666666;
}

.longslv {
  margin-left: -14px;
}

.price_buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.price_buy_info {
  font-family: "OpenSans-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #393939;
}

.price__bold {
  font-family: "RobotoCondensed-Bold";
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
}

.swiper-container {
  display: none;
}

@media (max-width: 1180px) {
  .sale__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sale__wrapper_box {
    margin-bottom: 10px;
  }
}

@media (max-width: 751px) {
  .sale {
    padding-bottom: 21px;
  }
  .sale-container {
    max-width: 595px;
    padding-top: 23px;
  }
  .sale__title {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 400;
    line-height: 21px;
  }
  .sale__line {
    margin-bottom: 18px;
  }
  .sale_arrows {
    display: block;
  }
  .slider_off {
    display: none;
  }
  .swiper-container {
    position: relative;
    display: block;
  }
  .swiper-wrapper {
    margin-left: 18px;
  }
  .sale_arrows {
    position: relative;
  }
  .prev_arrow {
    position: absolute;
    top: -226px;
    left: -17px;
    outline: none;
    z-index: 6;
  }
  .prev_arrow:hover {
    cursor: pointer;
  }
  .next_arrow {
    position: absolute;
    top: -226px;
    right: -14px;
    outline: none;
    z-index: 6;
  }
  .next_arrow:hover {
    cursor: pointer;
  }
}

@media (max-width: 645px) {
  .prev_arrow {
    left: 5px;
  }
  .next_arrow {
    right: 5px;
  }
  .swiper-wrapper {
    margin-left: 18px;
  }
}

@media (max-width: 611px) {
  .sale-container {
    max-width: 450px;
  }
  .swiper-wrapper {
    margin-left: 20.5%;
  }
  .prev_arrow {
    left: 25px;
  }
  .next_arrow {
    right: 25px;
  }
}

@media (max-width: 451px) {
  .sale-container {
    max-width: 320px;
  }
  .sale__title {
    margin-top: -4px;
  }
  .swiper-wrapper {
    margin-left: 9.5%;
  }
  .prev_arrow {
    left: 16px;
    top: -229px;
  }
  .next_arrow {
    right: 16px;
    top: -227px;
  }
}

.promo-container {
  padding-top: 41px;
  padding-bottom: 36px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  height: 100%;
  background: url("../img/promo/background_promo.png") no-repeat;
}

.promo__title {
  margin-top: 0;
  margin-bottom: 13px;
  font-family: "OpenSans-Semibold";
  color: #393939;
  font-size: 20px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

.promo__subtitle {
  font-family: "OpenSans-Regular";
  margin-bottom: 19px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-transform: uppercase;
}

.promo_line {
  margin: 0 auto;
  margin-bottom: -7px;
  width: 59px;
  height: 2px;
  border-top: 2px solid #00b5ee;
}

.promo__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 427px;
}

.promo__form_input {
  display: block;
  padding-left: 24px;
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 300;
  line-height: 15px;
  background-color: #ffffff;
}

.promo__form_btn {
  display: block;
  width: 122px;
  height: 40px;
  font-family: "OpenSans-Regular";
  font-size: 13px;
  font-weight: 500;
  line-height: 21.47px;
  color: white;
  background-color: #00b5ee;
}

.promo__form_btn:hover {
  color: #00b5ee;
  background-color: white;
  border: 1px solid #00b5ee;
}

.promo_follow {
  font-family: "OpenSans-Regular";
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-transform: uppercase;
}

.promo__social_img {
  margin-right: 3px;
}

.promo__social_img:hover {
  cursor: pointer;
}

@media (max-width: 751px) {
  .promo__title {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
  }
  .promo__subtitle {
    margin-top: 20px;
  }
  .promo-container {
    padding-top: 38px;
  }
  .promo__form {
    width: 420px;
  }
  .promo__form_input {
    padding-left: 26px;
    width: 265px;
    height: 40px;
  }
  .promo__form_btn {
    margin-right: 27px;
  }
}

@media (max-width: 649px) {
  .promo-container {
    max-width: 596px;
  }
}

@media (max-width: 615px) {
  .promo-container {
    max-width: 400px;
    background-size: cover;
  }
  .promo__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 290px;
  }
  .promo__form_input {
    padding-left: 0;
    text-align: center;
    margin-bottom: 11px;
  }
  .promo__form_btn {
    margin-right: 0;
  }
}

@media (max-width: 420px) {
  .promo-container {
    max-width: 290px;
    padding-top: 35px;
  }
  .promo__subtitle {
    width: 243px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 24px;
    line-height: 18px;
  }
  .promo__form {
    margin-bottom: -2px;
  }
}

.news-container {
  padding-top: 54px;
  padding-bottom: 32px;
}

.news__title {
  margin: 0 auto;
  margin-bottom: 18px;
  width: 120px;
  font-family: "OpenSans-Semibold";
  font-size: 26px;
  font-weight: 400;
  line-height: 21px;
  color: #393939;
}

.news_line {
  margin: 0 auto;
  margin-bottom: 25px;
  width: 66px;
  height: 1px;
  border-top: 1px solid #dddddd;
}

.news_sale__wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news_sale__wrapper_box {
  margin-bottom: 22px;
}

.news_sale__text_title {
  text-align: center;
  margin: 0 auto;
  margin-top: 21px;
}

.news_sale__text_subtitle {
  text-align: center;
  margin: 0 auto;
  margin-top: 7px;
  margin-bottom: 9px;
}

.news_sale__img_1 {
  margin-left: -9px;
}

.news_sale__img_2 {
  margin-left: -9px;
}

.news_sale__img_3 {
  margin-left: 7px;
}

.news_sale__img_4 {
  margin-left: 15px;
}

.news_sale__img_5 {
  margin-left: 23px;
}

.news_sale__img_6 {
  margin-left: -11px;
}

.news_sale__img_7 {
  margin-left: 1px;
}

.news_sale__img_8 {
  margin-left: 18px;
}

@media (max-width: 751px) {
  .news-container {
    padding-top: 29px;
    padding-bottom: 12px;
  }
  .news__title {
    margin-bottom: 14px;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 21px;
  }
  .news_line {
    margin-bottom: 20px;
  }
  .news__prev_arrow {
    top: -239px;
    left: 0;
  }
  .news__next_arrow {
    top: -240px;
    right: -1px;
  }
}

@media (max-width: 650px) {
  .news_swiper-wrapper {
    margin-left: 17.3%;
  }
}

@media (max-width: 645px) {
  .news__prev_arrow {
    left: 5px;
  }
  .news__next_arrow {
    right: 5px;
  }
}

@media (max-width: 611px) {
  .news_swiper-wrapper {
    margin-left: 16.8%;
  }
  .news__prev_arrow {
    left: 25px;
  }
  .news__next_arrow {
    right: 25px;
  }
}

@media (max-width: 451px) {
  .news-container {
    padding-top: 33px;
    padding-bottom: 10px;
  }
  .news_swiper-wrapper {
    margin-left: 4.1%;
  }
  .news__prev_arrow {
    left: 0;
    top: -239px;
  }
  .news__next_arrow {
    right: 0;
    top: -239px;
  }
}

.benefits-section {
  margin-bottom: 55px;
  padding-top: 33px;
  padding-bottom: 33px;
  border-top: 2px solid #dff7ff;
  border-bottom: 2px solid #dff7ff;
}

.benefits-container {
  width: 1160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 170px;
}

.benefits__info {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "OpenSans-Regular";
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #393939;
}

.regard {
  min-width: 190px;
  margin-left: 8px;
  margin-right: 35px;
}

.regard__info {
  width: 140px;
  margin-top: 0;
}

.regard_img {
  margin-right: 10px;
  width: 38px;
}

.bag {
  width: 190px;
  margin-right: 30px;
}

.bag_img {
  margin-right: 14px;
  width: 30px;
}

.bag__info {
  width: 142px;
}

.box {
  width: 215px;
  margin-right: 28px;
}

.box__info {
  width: 165px;
}

.box_img {
  width: 34px;
  margin-right: 12px;
}

.gift {
  width: 205px;
  margin-right: 38px;
}

.gift_img {
  width: 36px;
  margin-right: 2px;
}

.gift__info {
  width: 164px;
}

.auto {
  width: 215px;
}

.auto_img {
  width: 35px;
  margin-right: 13px;
  margin-top: 6px;
}

.auto__info {
  width: 163px;
}

@media (max-width: 1130px) {
  .benefits-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .benefits__box {
    margin-bottom: 19px;
  }
  .benefits-section {
    padding-top: 20px;
  }
  .regard {
    margin-right: 10px;
    margin-left: 0;
  }
  .bag {
    margin-right: 10px;
  }
  .box {
    margin-right: 0;
  }
  .gift {
    margin-right: 0;
  }
}

@media (max-width: 751px) {
  .benefits-section {
    margin-bottom: 29px;
    padding-bottom: 0;
  }
  .benefits-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .benefits__box {
    margin-bottom: 25px;
  }
  .regard {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    min-width: 269px;
  }
  .regard__info {
    width: 190px;
  }
  .bag {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 253px;
    margin-top: -7px;
  }
  .bag_img {
    margin-right: 19px;
  }
  .bag__info {
    width: 214px;
  }
  .box {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .box_img {
    margin-right: 15px;
  }
  .box__info {
    margin-top: -2px;
  }
  .gift {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 285px;
  }
  .gift__info {
    width: 241px;
  }
  .gift_img {
    margin-right: 14px;
    margin-top: -3px;
  }
  .auto {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 285px;
  }
  .auto__info {
    width: 228px;
  }
  .auto_img {
    margin-right: 15px;
  }
}

@media (max-width: 650px) {
  .benefits-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .benefits__box {
    width: 289px;
  }
  .regard {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .bag {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .box {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-left: 0;
  }
  .gift {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .auto {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    margin-left: 0;
  }
}

@media (max-width: 400px) {
  .benefits {
    padding-top: 29px;
  }
  .benefits-section {
    padding-bottom: 2px;
  }
  .benefits__box {
    width: 275px;
  }
  .box {
    width: 283px;
    margin-bottom: 21px;
  }
  .regard {
    margin-bottom: 30px;
  }
  .bag {
    margin-right: 7px;
    margin-bottom: 27px;
  }
  .gift {
    width: 281px;
    margin-bottom: 26px;
  }
  .auto {
    width: 282px;
  }
}

.footer {
  z-index: -1;
}

.footer-section {
  border-top: 1px solid #c5f1ff;
  padding-top: 31px;
  background-color: #eefbff;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1144px;
  padding-bottom: 43px;
}

.footer__title {
  margin-bottom: 16px;
  font-family: "OpenSans-Bold";
  color: #393939;
  font-size: 14px;
  font-weight: 900;
  line-height: 12px;
}

.footer__join_wrapper {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__rights {
  width: 83.7%;
  margin: 0 auto;
  padding-top: 31px;
  padding-bottom: 37px;
  opacity: 0.6;
  text-align: center;
  font-family: "OpenSans-Regular";
  color: #393939;
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
  border-top: 1px solid #c5f1ff;
}

.contact {
  width: 159px;
  margin-right: 181px;
}

.contact__link {
  display: block;
  margin-bottom: 12px;
  width: 127px;
  font-family: "OpenSans-Regular";
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #393939;
}

.contact__link:hover {
  color: #00b5ee;
}

.contact__btn {
  width: 156px;
  height: 40px;
  margin-bottom: 15px;
  font-family: "OpenSans-Regular";
  font-size: 13px;
  font-weight: 500;
  line-height: 21.47px;
  color: white;
  background-color: #00b5ee;
}

.contact__btn:hover {
  background-color: white;
  color: #00b5ee;
  border: 1px solid #00b5ee;
}

.contact__tel {
  width: 131px;
  margin-bottom: 12px;
  margin-top: 16px;
  font-size: 16px;
}

.help {
  width: 195px;
  margin-right: 97px;
}

.help__info {
  display: block;
  margin-bottom: 8px;
  width: 190px;
  font-size: 14px;
  font-family: "OpenSans-Regular";
  font-weight: 300;
  line-height: 18px;
  color: #393939;
}

.help__info:hover {
  color: #00b5ee;
}

.cabinet {
  margin-right: 200px;
  width: 170px;
}

.cabinet__info {
  width: 125px;
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-family: "OpenSans-Regular";
  font-weight: 300;
  line-height: 18px;
  color: #393939;
}

.cabinet__info:hover {
  color: #00b5ee;
}

.cabinet__subtitle {
  margin-top: 30px;
  margin-bottom: 13px;
}

.cabinet__logo {
  width: 162px;
  height: 30px;
}

.join {
  width: 150px;
}

.join__social_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 120px;
  margin-left: -2px;
  margin-top: 19px;
}

.join__social_img {
  width: 31px;
  height: 31px;
}

.join__comment_vk, .join__comment_fb, .join__comment_inst {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: -83px;
  bottom: -53px;
  width: 196px;
  height: 40px;
  font-family: "OpenSans-Semibold";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #393939;
  background-color: white;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
}

.join__comment_vk:after, .join__comment_fb:after, .join__comment_inst:after {
  content: '';
  position: absolute;
  top: -4px;
  left: 48%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 9px;
  height: 9px;
  -webkit-box-shadow: -4px -3px 5px rgba(0, 0, 0, 0.12);
          box-shadow: -4px -3px 5px rgba(0, 0, 0, 0.12);
  background-color: white;
}

.join__vk {
  position: relative;
  background: url("../img/footer/vk_grey.svg");
  background-size: 100% 100%;
}

.join__vk:hover {
  cursor: pointer;
  background: url("../img/footer/vk_blue.svg");
  background-size: 100% 100%;
}

.join__facebook {
  position: relative;
  background: url("../img/footer/fb_grey.svg");
  background-size: 100% 100%;
}

.join__facebook:hover {
  cursor: pointer;
  background: url("../img/footer/fb_blue.svg");
  background-size: 100% 100%;
}

.join__insta {
  position: relative;
  background: url("../img/footer/instagram_grey.svg");
  background-size: 100% 102%;
}

.join__insta:hover {
  cursor: pointer;
  background: url("../img/footer/instagram_blue.svg");
  background-size: 100% 102%;
}

.join__like {
  padding-right: 9px;
  border-right: 2px solid #393939;
}

.join_amount {
  padding-left: 9px;
}

@media (min-width: 992px) {
  .join__vk:hover .join__comment_vk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .join__facebook:hover .join__comment_fb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .join__insta:hover .join__comment_inst {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 1170px) {
  .contact {
    margin-right: 75px;
    width: 194px;
  }
  .cabinet {
    margin-right: 73px;
  }
}

@media (max-width: 950px) {
  .footer__join_wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .help {
    margin-right: 97px;
  }
  .join {
    width: 100%;
  }
  .cabinet {
    margin-right: 0;
  }
}

@media (max-width: 751px) {
  .footer-section {
    padding-top: 16px;
  }
  .footer__join_wrapper {
    width: 162px;
  }
  .contact {
    margin-right: 11px;
  }
  .help {
    margin-right: 28px;
  }
  .cabinet {
    margin-bottom: 15px;
  }
  .cabinet__subtitle {
    margin-top: 22px;
  }
  .join__social_wrapper {
    margin-left: 0;
  }
}

@media (max-width: 661px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact, .help, .cabinet, .join {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
    width: 100%;
  }
  .contact__link {
    text-align: center;
  }
  .help__info {
    text-align: center;
  }
  .cabinet__info {
    text-align: center;
  }
}

@media (max-width: 420px) {
  .footer-container {
    width: 100%;
    border-bottom: 1px solid #c5f1ff;
    padding-bottom: 37px;
  }
  .footer__title {
    margin-bottom: 0;
  }
  .footer__rights {
    border-top: none;
    width: 198px;
    padding-top: 18px;
    padding-bottom: 23px;
    font-size: 13px;
    font-weight: 300;
    line-height: 17px;
  }
  .help__title {
    margin-top: 12px;
    margin-bottom: 15px;
  }
  .help_info {
    line-height: 18px;
  }
  .help__garranty {
    margin-bottom: 10px;
  }
  .contact__blog {
    display: none;
  }
  .contact__tel {
    margin-left: 1px;
    line-height: 18px;
  }
  .cabinet__title {
    margin-top: 18px;
    margin-bottom: 16px;
  }
  .cabinet__logo {
    margin-top: 15px;
  }
  .join__social_wrapper {
    margin-left: -3px;
  }
}

.cat_nav {
  padding-top: 19px;
  padding-bottom: 19px;
}

.cat_nav__link {
  display: inline-block;
  margin-right: 2px;
}

.cat_nav__link_info {
  padding-right: 2px;
  opacity: 0.8;
  font-family: "OpenSans-Regular";
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
}

.cat_nav__link_info:hover {
  color: #00b5ee;
}

@media (max-width: 750px) {
  .cat_nav {
    display: none;
  }
}

.cat_select__title {
  margin-top: 9px;
  margin-bottom: 19px;
  font-family: "OpenSans-Semibold";
  font-size: 26px;
  font-weight: 400;
  line-height: 21px;
}

.cat_select__line {
  margin-bottom: 19px;
  width: 66px;
  height: 1px;
  border-top: 1px solid #dddddd;
}

.cat_select__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2px;
  padding-bottom: 30px;
  width: 100%;
}

.cat_select__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 11px;
  padding-left: 17px;
  width: 264px;
  height: 51px;
  border: 2px solid #95dbf1;
}

.cat_select__box:hover {
  cursor: pointer;
}

.cat_select__box:hover .cat_select__info {
  color: #00b5ee;
}

.cat_select__info {
  font-family: "OpenSans-Regular";
  color: #393939;
  opacity: 0.7;
  font-size: 14px;
  font-weight: 300;
  line-height: 15px;
}

@media (max-width: 1169px) {
  .cat_select__wrapper {
    margin: 0 auto;
    width: 70%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cat_select__box {
    margin-bottom: 4px;
  }
}

@media (max-width: 950px) {
  .cat_select__wrapper {
    width: 100%;
  }
}

@media (max-width: 751px) {
  .cat_select__box {
    width: 290px;
    height: 47px;
    border: 1px solid #95dbf1;
    margin-bottom: 14px;
  }
  .cat_select__title {
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 21px;
  }
  .cat_select__line {
    margin-bottom: 16px;
  }
  .cat_select__wrapper {
    margin-left: 2px;
    padding-bottom: 13px;
  }
}

@media (max-width: 650px) {
  .cat_select__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 420px) {
  .cat_select__box {
    margin-bottom: 6px;
    height: 46px;
    padding-right: 14px;
    padding-left: 19px;
  }
  .cat_select__title {
    margin-top: 20px;
    margin-bottom: 16px;
    width: 260px;
    line-height: 24px;
  }
  .cat_select__wrapper {
    margin-left: 0;
    padding-bottom: 16px;
  }
}

.hover__cat_item {
  display: none;
  position: absolute;
  top: -1px;
  left: -1px;
  width: 263px;
  height: 463px;
  -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 13px rgba(0, 0, 0, 0.12);
  border: 1px solid #e8e8e8;
  background-color: white;
}

.hover__cat_change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hover__cat_change__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 9px;
  width: 108px;
  height: 41px;
  border: 1px solid #95dbf1;
  background-color: #ffffff;
}

.hover__cat_change__number:hover {
  color: #00b5ee;
}

.hover__cat_change__color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 6px;
  padding-right: 9px;
  width: 108px;
  height: 41px;
  border: 1px solid #95dbf1;
  background-color: #ffffff;
}

.hover__cat_change__info:hover {
  cursor: pointer;
  color: #00b5ee;
}

.hover__cat_change__text:hover {
  cursor: pointer;
  color: #00b5ee;
}

.hover__cat__like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.hover__cat__like_text {
  padding-left: 7px;
  padding-right: 21px;
  font-family: "OpenSans-Regular";
  color: #2d2d2d;
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
}

.hover__cat__like_text:hover {
  cursor: pointer;
  color: #00b5ee;
}

.hover__cat__like_buy {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  color: #393939;
}

.hover__cat__like_buy:hover {
  cursor: pointer;
  color: #00b5ee;
}

.hover__cat_wrapper > img.sale__img {
  margin-left: -9px;
}

.hover_on {
  margin-bottom: 10px;
}

.hover_on:hover .hover__cat_item {
  z-index: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hover_sale__text_title {
  text-align: center;
  margin: 0 auto;
  margin-top: 21px;
}

.hover_sale__text_subtitle {
  text-align: center;
  margin: 0 auto;
  margin-top: 7px;
  margin-bottom: 9px;
}

.cat_swiper-container {
  display: block;
  margin-left: 3px;
}

.cat_arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 17px;
  margin-bottom: 52px;
  width: 282px;
  z-index: -1;
}

.cat__prev_arrow, .cat__next_arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  width: 32px;
  height: 31px;
  border: 1px solid #cecece;
  background-color: #ffffff;
}

.cat__prev_arrow:hover, .cat__next_arrow:hover {
  border: 1px solid #00b5ee;
  cursor: pointer;
}

.cat_pagination__wrapper {
  width: 100px;
  margin-left: -116px;
}

span.swiper-pagination-bullet {
  display: inline-block;
  margin: 0 2px;
  padding-top: 4px;
  width: 32px;
  height: 31px;
  border-radius: 1%;
  border: 1px solid #cecece;
  background-color: #ffffff;
}

span.swiper-pagination-bullet-active {
  border: 1px solid #00b5ee;
  color: #00b5ee;
}

@media (max-width: 1169px) {
  .cat_pagination__wrapper {
    width: 100px;
    margin-left: -188px;
  }
  .cat_arrows {
    width: 354px;
  }
}

@media (max-width: 950px) {
  div.cat_swiper-container {
    margin-left: 15px;
  }
}

@media (max-width: 750px) {
  .cat__next_arrow, .cat__prev_arrow {
    position: relative;
  }
  .cat_arrows {
    margin-top: 1px;
    margin-bottom: 44px;
  }
  div.cat_swiper-container {
    margin-left: 23px;
  }
  div.hover_on {
    margin-right: 3px;
    margin-bottom: 23px;
  }
}

@media (max-width: 650px) {
  div.cat_swiper-container {
    margin-left: 17%;
  }
  .cat_pagination__wrapper {
    display: none;
  }
}

@media (max-width: 435px) {
  div.cat_swiper-container {
    margin-left: 9%;
  }
  .cat_arrows {
    width: 254px;
    margin-top: 5px;
    margin-bottom: 48px;
  }
}

@media (max-width: 370px) {
  div.cat_swiper-container {
    margin-left: 4%;
  }
  div.hover_on {
    margin-bottom: 13px;
  }
}

.product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0;
}

.product__cat_nav {
  padding-bottom: 28px;
}

.product_swiper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
  width: 654px;
  height: 650px;
  border: 1px solid #e8e8e8;
  z-index: 5;
}

.product__slider_img {
  margin-left: 50%;
  margin-top: 50%;
  -webkit-transform: translate(-51%, -52%);
          transform: translate(-51%, -52%);
}

.product__slide_preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 4px;
  width: 98px;
  height: 109px;
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
}

.product__slide_preview:nth-child(3) {
  border: 1px solid #393939;
}

.product__slide_preview:nth-child(7) {
  margin-right: 0;
}

.product_arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 18px;
  margin-bottom: 65px;
}

.product__arrow_prev {
  width: 25px;
  height: 109px;
  background: url("../img/product/p_arrow_left.png") no-repeat center;
  outline: none;
}

.product__arrow_prev:hover {
  cursor: pointer;
}

.product__arrow_next {
  width: 25px;
  height: 109px;
  background: url("../img/product/p_arrow_right.png") no-repeat center;
  outline: none;
}

.product__arrow_next:hover {
  cursor: pointer;
}

.product__card {
  width: 380px;
  margin-left: 55px;
  margin-top: -3px;
}

.product__card_title {
  margin-bottom: 18px;
  font-family: "OpenSans-Semibold";
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #393939;
}

.product__card_article {
  padding-right: 28px;
  font-family: "OpenSans-Regular";
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #898989;
}

.product__card_availabel {
  margin-bottom: 27px;
}

.product__card_availabel_title {
  font-family: "OpenSans-Regular";
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #31c657;
}

.product__card_star {
  display: inline-block;
  margin-right: -4px;
}

.product__card_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80px;
}

.product__card_change__color {
  margin-bottom: 15px;
  font-family: "OpenSans-Semibold";
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  color: #393939;
}

.product__card_change__color_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 13px;
  padding-right: 15px;
  width: 361px;
  height: 51px;
  border: 1px solid #95dbf1;
  background-color: #ffffff;
}

.product__card_change__size {
  margin-top: 18px;
  margin-bottom: 14px;
}

.product__card__color_info {
  font-family: "OpenSans-Regular";
  font-size: 14px;
  font-weight: 300;
  line-height: 15px;
  opacity: 0.7;
  color: #242021;
}

.product__card__color_info_sub {
  padding-left: 4px;
}

.product__card_price {
  font-family: "OpenSans-Semibold";
  font-size: 30px;
  font-weight: 400;
  line-height: 31.03px;
  letter-spacing: 0.93px;
  color: #393939;
}

.product__card_price__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  margin-top: 37px;
  margin-bottom: 31px;
}

.product__card_price__modi {
  text-decoration: line-through;
  font-family: "OpenSans-Semibold";
  font-size: 26px;
  font-weight: 400;
  line-height: 31.03px;
  letter-spacing: 0.8px;
  color: #737373;
}

.product__card_btn {
  width: 176px;
  height: 49px;
  font-family: "OpenSans-Semibold";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: white;
  background-color: #00b5ee;
}

.product__card_btn__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 37px;
  margin-bottom: 44px;
}

.product__card_heart__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 138px;
}

.product__card_heart__info {
  padding-bottom: 9px;
  padding-right: 8px;
  font-family: "OpenSans-Semibold";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.product__card_ss {
  margin-right: 4px;
}

@media (max-width: 1169px) {
  .product-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .product__card {
    width: 50%;
  }
}

@media (max-width: 950px) {
  .product__card {
    width: 80%;
  }
}

@media (max-width: 750px) {
  div.product_swiper-container {
    width: 441px;
    height: 438px;
  }
  .product__slider {
    padding-top: 27px;
    margin-left: 9px;
  }
  .product__slider_img {
    width: 343px;
    height: 342px;
    -webkit-transform: translate(-55%, -50%);
            transform: translate(-55%, -50%);
  }
  .product__slide_preview {
    display: none;
  }
  .product_arrows {
    position: relative;
    margin: 0 auto;
    width: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product__arrow_prev {
    position: absolute;
    bottom: 194px;
    left: -201px;
    width: 48px;
    height: 48px;
    background: url("../img/sale/left-arrow.png");
  }
  .product__arrow_next {
    position: absolute;
    bottom: 195px;
    right: -188px;
    width: 48px;
    height: 48px;
    background: url("../img/sale/right-arrow.png");
  }
  .product__card {
    width: 100%;
    margin-left: 4px;
    padding-top: 12px;
  }
  .product__card_title {
    margin-bottom: 13px;
    font-family: "OpenSans-Regular";
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
  }
  .product__card_availabel {
    margin-bottom: 12px;
  }
  .product__card_star {
    margin-right: -3px;
  }
  .product__card_star__box {
    margin-bottom: -3px;
  }
  .product__card_change__color_box {
    width: 291px;
    height: 51px;
  }
  .product__card_change__size {
    margin-bottom: 15px;
  }
  .product__card_price__box {
    margin-top: 15px;
  }
  .product__card_btn__box {
    width: 63%;
  }
  .product__card_heart__info {
    padding-bottom: 5px;
  }
  .product__card_ss__box {
    display: none;
  }
  .card_box__change {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .left__wrap {
    margin-left: 2px;
    margin-right: 14px;
  }
}

@media (max-width: 650px) {
  .card_box__change {
    display: block;
  }
  .product__card_btn {
    margin-bottom: 10px;
  }
  .product__card_btn__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .product__arrow_prev {
    margin-left: 66px;
    z-index: 3;
  }
  .product__arrow_next {
    margin-right: 53px;
    z-index: 3;
  }
}

@media (max-width: 611px) {
  div.product_swiper-container {
    width: 291px;
    height: 289px;
  }
  .product__slider_img {
    width: 226px;
    height: 225px;
    -webkit-transform: translate(-72%, -46%);
            transform: translate(-72%, -46%);
  }
  .product__card {
    margin-left: 15%;
  }
  .product__arrow_prev {
    left: -148px;
    bottom: 120px;
  }
  .product__arrow_next {
    right: -135px;
    bottom: 120px;
  }
}

@media (max-width: 451px) {
  .product__slider_img {
    -webkit-transform: translate(-58%, -46%);
            transform: translate(-58%, -46%);
  }
}

@media (max-width: 451px) {
  .product-container {
    padding-bottom: 0px;
  }
  .product__slider {
    padding-top: 24px;
    margin-left: 0;
  }
  .product__card {
    margin-left: 0;
  }
  .product__card_title {
    margin-top: 21px;
  }
  .product__card_price__box {
    margin-top: 29px;
  }
  .product__card_btn {
    width: 175px;
    margin-bottom: 21px;
  }
  .product__card_btn__box {
    width: 100%;
  }
  .left__wrap {
    margin-left: 0;
    margin-right: 0;
  }
  .card_box__change {
    margin-top: -4px;
  }
}

.inform-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -2px;
  margin-bottom: 17px;
  width: 100%;
  height: 46px;
  border-bottom: 1px solid #393939;
}

.inform-nav__info {
  padding: 0 32px;
}

.inform-nav__info_text {
  display: block;
  padding-bottom: 23px;
  font-family: "OpenSans-Semibold";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #393939;
}

.inform-nav__info_text:hover {
  cursor: pointer;
  color: #00b5ee;
  border-bottom: 3px solid #00b5ee;
}

.inform-nav__info_charact {
  padding-right: 39px;
  padding-left: 9px;
}

.inform-nav__info_foto {
  padding: 0 10px;
  padding-right: 32px;
}

.inform-nav__info_pay {
  padding: 0 10px;
  padding-right: 31px;
}

.inform-nav__info_divel {
  padding: 0 10px;
}

.table {
  margin-bottom: 50px;
}

.table table {
  border-collapse: collapse;
  width: 100%;
  color: #666;
  font-family: "OpenSans-Regular";
  font-size: 14px;
  font-weight: 400;
}

.table tr {
  border-bottom: 1px solid #e6ecf3;
}

.table tr td {
  padding-top: 12px;
  padding-bottom: 17px;
}

.table tr td:first-child {
  padding-left: 32px;
  width: 242px;
}

.table tr td:nth-child(2) {
  font-family: "OpenSans-Regular";
  color: #393939;
  width: 276px;
}

.table tr td:nth-child(2n) {
  font-weight: 700;
}

.table tr td:nth-child(3) {
  width: 210px;
}

@media (max-width: 950px) {
  .inform-nav__info_descr {
    padding-right: 4px;
  }
  .inform-nav__info_charact {
    padding-right: 6px;
    padding-left: 9px;
  }
  .inform-nav__info_foto {
    padding: 0 10px;
    padding-right: 6px;
  }
  .inform-nav__info_pay {
    padding: 0 10px;
    padding-right: 6px;
  }
  .inform-nav__info_divel {
    padding-right: 6px;
  }
  .inform-nav__info_feedback {
    padding-right: 6px;
    padding-left: 10px;
  }
  .table tr td:nth-child(3), .table tr td:nth-child(4) {
    display: none;
  }
}

@media (max-width: 750px) {
  .inform-nav {
    margin-top: 19px;
    margin-bottom: 7px;
  }
  .table tr td {
    padding-left: 44px;
  }
  .table tr td:first-child {
    padding-left: 0px;
    padding-top: 12px;
    padding-bottom: 19px;
  }
}

.basket {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 8;
  width: 977px;
  min-height: 488px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.28);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.28);
  border: 1px solid #f1d6da;
  background-color: #ffffff;
}

.basket-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 58px;
  padding: 0 35px 0 30px;
  background-color: #00b5ee;
}

.basket-header__title, .basket-header__close {
  font-family: "OpenSans-Bold";
  display: block;
  font-size: 16px;
  line-height: 17px;
  color: white;
}

.basket-header__close {
  font-family: "OpenSans-Regular";
  font-size: 23px;
}

.basket-header__close:hover {
  cursor: pointer;
  color: red;
}

.basket-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: -21px;
  padding: 33px 30px 25px 30px;
}

.basket__total_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 28px;
  width: 100%;
  height: 65px;
  font-family: "OpenSans-Semibold";
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  background-color: #dff7ff;
}

.basket__total_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 86px;
  padding-right: 29px;
  padding-left: 26px;
}

.basket__continue {
  width: 237px;
  height: 49px;
  font-family: "OpenSans-Semibold";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #2c2c2c;
  border: 1px solid #393939;
  background-color: white;
}

.basket__continue:hover {
  border: 1px solid #00b5ee;
  background-color: #00b5ee;
  color: white;
}

.basket__end {
  width: 196px;
  height: 47px;
  font-family: "OpenSans-Semibold";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #2c2c2c;
  border: 1px solid #393939;
  background-color: white;
}

.basket__end:hover {
  color: white;
  background-color: #00b5ee;
  border: 1px solid #00b5ee;
}

.total_color {
  display: inline-block;
  margin-left: 2px;
  font-size: 24px;
  color: #00b5ee;
}

.main__title {
  font-family: "OpenSans-Semibold";
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
}

.main__value {
  margin-top: 3px;
  font-family: "OpenSans-Regular";
  font-size: 15px;
  font-weight: 500;
  line-height: 17px;
}

.main__box_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 9px;
  margin-bottom: 106px;
  width: 725px;
  height: 48px;
}

.main__box_info__name {
  width: 256px;
}

.main__box_info__attrubute {
  width: 167px;
}

.main__box_info__number {
  width: 127px;
}

.main__box_info__price {
  width: 174px;
}

.main__box_info__error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 11px;
}

.main__box_info__img {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: -4px;
}

.main__box_info__img:hover {
  cursor: pointer;
}

.main__box_footer {
  width: 100%;
  text-align: end;
}

.main__box_footer__info {
  font-family: "OpenSans-Semibold";
  font-size: 16px;
  line-height: 17px;
}

.num_color {
  color: #00b5ee;
}

@media (max-width: 1000px) {
  .basket {
    max-width: 800px;
  }
  .main__box_wrapper {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
    max-width: 505px;
    height: 177px;
  }
  .main__box_info__name {
    margin-bottom: 10px;
  }
  .main__box_info__attrubute {
    margin-bottom: 10px;
  }
  .main__box_info__number {
    margin-bottom: 10px;
  }
  .main__box_info__price {
    margin-bottom: 10px;
  }
  .main__box_info__error {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (max-width: 830px) {
  .basket {
    max-width: 600px;
  }
  .main__box_wrapper {
    max-width: 336px;
  }
}

@media (max-width: 620px) {
  .basket {
    max-width: 596px;
    min-height: 545px;
  }
  .basket-main {
    margin-bottom: -42px;
    padding: 17px 0px 25px 65px;
  }
  .basket-header {
    padding: 0 13px 0 20px;
  }
  .basket__box_wrapper {
    padding-top: 8px;
  }
  .basket-footer {
    margin-top: 21px;
  }
  .basket__total_btns {
    height: 61px;
  }
  .main__value {
    margin-top: 6px;
  }
  .main__box_wrapper {
    max-width: 331px;
    margin-bottom: 81px;
    padding-top: 7px;
  }
  .main__box_footer__info {
    padding-right: 25px;
  }
  .main__box_info__name {
    margin-bottom: 22px;
  }
  .main__box_info__attrubute {
    margin-bottom: 15px;
  }
  .main__box_info__number {
    margin-bottom: 16px;
  }
  .main__box_info__price {
    margin-bottom: 22px;
  }
  .main__box_info__error {
    top: -14px;
    right: 28px;
  }
}

@media (max-width: 599px) {
  .basket {
    position: absolute;
    max-width: 400px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -40%);
            transform: translate(-50%, -40%);
  }
  .basket-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 380px;
  }
  .basket__total_btns {
    height: 97px;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }
  .basket__total_info {
    margin-bottom: 28px;
  }
  .basket__continue {
    margin-bottom: 7px;
  }
  .basket__end {
    margin-bottom: 10px;
  }
  .main__box_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 275px;
  }
  .main__box_info__error {
    top: -198px;
  }
}

@media (max-width: 420px) {
  .basket {
    width: 290px;
    height: 808px;
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
  }
  .basket-main {
    padding: 17px 0px 25px 23px;
    width: 280px;
  }
  .basket__total_info {
    margin-bottom: 21px;
    padding-right: 14px;
  }
  .basket__total_btns {
    height: 130px;
  }
  .basket_end {
    margin-bottom: 11px;
  }
  .main__box_wrapper {
    max-width: 280px;
    margin-bottom: 0;
    height: 232px;
  }
  .main__box_img {
    margin-bottom: 20px;
    width: 254px;
  }
  .main__box_info__error {
    top: -223px;
    right: 30px;
  }
  .main__box_footer__info {
    padding-right: 5px;
    margin-top: 9px;
    margin-bottom: 24px;
  }
}
/*# sourceMappingURL=style.css.map */