*
    box-sizing: border-box
    color: $text-color

@mixin flex_center
    display: flex
    justify-content: space-between
    align-items: center

.test_scroll
    width: 100%
    height: 500px

body
    @include regular

.container
    margin: 0 auto
    width: 1140px

.btn, button
    border-radius: 30px
    border: none
    outline: none
    &:hover
        cursor: pointer
input
    outline: none

a
    text-decoration: none
    outline: none

.price_buy_btn__img
    &:hover
        cursor: pointer

.aside_shadow
    display: none
    position: fixed
    top: 0
    left: 0
    z-index: 7
    width: 100%
    height: 100vh
    background: rgba(0, 0, 0, 0.3)

// --------------### MEDIA max-width: 1170px ###-------------------//

@media (max-width: 1170px)
    .container
        max-width: 900px

// --------------### MEDIA max-width: 950px ###-------------------//

@media (max-width: 950px)
    .container
        max-width: 595px

// --------------### MEDIA max-width: 650px ###-------------------//

@media (max-width: 650px)
    .container
        max-width: 395px

// --------------### MEDIA max-width: 435px ###-------------------//

@media (max-width: 435px)
    .container
        max-width: 320px

// --------------### MEDIA max-width: 400px ###-------------------//

@media (max-width: 400px)
    .container
        max-width: 290px