.benefits
    &-section
        margin-bottom: 55px
        padding-top: 33px
        padding-bottom: 33px
        border-top: 2px solid lighten( $main-color, 47% )
        border-bottom: 2px solid lighten( $main-color, 47% )
    &-container
        width: 1160px
        display: flex
        align-items: center
    &__box
        box-sizing: border-box
        display: flex
        align-items: center
        min-width: 170px
        // border: 1px solid black
    &__info
        margin-top: 0
        margin-bottom: 0
        +regular
        font-size: 14px
        font-weight: 600
        line-height: 18px
        color: $text-color

.regard
    min-width: 190px
    margin-left: 8px
    margin-right: 35px
    &__info
        width: 140px
        margin-top: 0
        // margin-left: 10px
    &_img
        margin-right: 10px
        width: 38px
        // height: 37px
.bag
    width: 190px
    margin-right: 30px
    &_img
        margin-right: 14px
        width: 30px
        // height: 32px
    &__info
        width: 142px
        // margin-top: -5px

.box
    width: 215px
    margin-right: 28px
    &__info
        width: 165px
        // min-width: 166px
        // margin-top: -5px
    &_img
        width: 34px
        // height: 35px
        margin-right: 12px

.gift
    width: 205px
    margin-right: 38px
    &_img
        width: 36px
        margin-right: 2px
    &__info
        width: 164px

.auto
    width: 215px
    &_img
        width: 35px
        margin-right: 13px
        margin-top: 6px
    &__info
        width: 163px

    // --------------### MEDIA max-width: 1130px ###-------------------//

@media (max-width: 1130px)
    .benefits
        &-container
            flex-wrap: wrap
            justify-content: space-around
        &__box
            margin-bottom: 19px
        &-section
            padding-top: 20px
    .regard
        margin-right: 10px
        margin-left: 0

    .bag
        margin-right: 10px

    .box
        margin-right: 0

    .gift
        margin-right: 0

    // --------------### MEDIA max-width: 751px ###-------------------//

@media (max-width: 751px)
    .benefits
        &-container
            flex-wrap: wrap
            justify-content: space-between
        &__box
            margin-bottom: 25px
    .regard
        order: 1
        min-width: 269px
        &__info
            width: 190px
    .bag
        order: 3
        width: 253px
        margin-top: -7px
        &_img
            margin-right: 19px
        &__info
            width: 214px

    .box
        order: 5
        &_img
            margin-right: 15px
        &__info
            margin-top: -2px

    .gift
        order: 2
        width: 285px
        &__info
            width: 241px
        &_img
            margin-right: 14px
            margin-top: -3px

    .auto
        order: 4
        width: 285px
        &__info
            width: 228px
        &_img
            margin-right: 15px

    // --------------### MEDIA max-width: 650px ###-------------------//

@media (max-width: 650px)
    .benefits
        &-container
            justify-content: center
        &__box
            width: 289px

    .regard
        order: 1

    .bag
        order: 2

    .box
        order: 3
        margin-left: 0

    .gift
        order: 4

    .auto
        order: 5
        margin-left: 0

    // --------------### MEDIA max-width: 400px ###-------------------//

@media (max-width: 400px)
    .benefits
        padding-top: 29px
        &-section
            padding-bottom: 2px
        &__box
            width: 275px
    .box
        width: 283px
        margin-bottom: 21px

    .regard
        margin-bottom: 30px
    .bag
        margin-right: 7px
        margin-bottom: 27px
    .gift
        width: 281px
        margin-bottom: 26px
    .auto
        width: 282px



