.footer
    &-section
        border-top: 1px solid lighten( $main-color, 42% )
        padding-top: 31px
        background-color: lighten( $main-color, 50% )
    &-container
        display: flex
        width: 1144px
        padding-bottom: 43px
    &__title
        margin-bottom: 16px
        +bold
        color: $text-color
        font-size: 14px
        font-weight: 900
        line-height: 12px
    &__join_wrapper
        width: 500px
        display: flex
    &__rights
        width: 83.7%
        margin: 0 auto
        padding-top: 31px
        padding-bottom: 37px
        opacity: 0.6
        text-align: center
        +regular
        color: $text-color
        font-size: 13px
        font-weight: 300
        line-height: 17px
        border-top: 1px solid lighten( $main-color, 42% )
.contact
    width: 159px
    margin-right: 181px
    &__link
        display: block
        margin-bottom: 12px
        width: 127px
        +regular
        text-transform: uppercase
        font-size: 14px
        font-weight: 600
        line-height: 18px
        color: $text-color
        &:hover
            color: $main-color
    &__btn
        width: 156px
        height: 40px
        margin-bottom: 15px
        +regular
        font-size: 13px
        font-weight: 500
        line-height: 21.47px
        color: white
        background-color: $main-color
        &:hover
            background-color: white
            color: $main-color
            border: 1px solid $main-color
    &__tel
        width: 131px
        margin-bottom: 12px
        margin-top: 16px
        font-size: 16px

.help
    width: 195px
    margin-right: 97px
    &__info
        display: block
        margin-bottom: 8px
        width: 190px
        font-size: 14px
        +regular
        font-weight: 300
        line-height: 18px
        color: $text-color
        &:hover
            color: $main-color

.cabinet
    margin-right: 200px
    width: 170px
    &__info
        width: 125px
        display: block
        margin-bottom: 8px
        font-size: 14px
        +regular
        font-weight: 300
        line-height: 18px
        color: $text-color
        &:hover
            color: $main-color
    &__subtitle
        margin-top: 30px
        margin-bottom: 13px
    &__logo
        width: 162px
        height: 30px

.join
    width: 150px
    &__social
        &_wrapper
            display: flex
            justify-content: space-between
            width: 120px
            margin-left: -2px
            margin-top: 19px
        &_img
            width: 31px
            height: 31px
    &__comment
        &_vk, &_fb, &_inst
            display: none
            justify-content: center
            align-items: center
            position: absolute
            left: -83px
            bottom: -53px
            width: 196px
            height: 40px
            +semibold
            font-size: 14px
            font-weight: 400
            line-height: 18px
            color: $text-color
            background-color: white
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.12)
            &:after
                content: ''
                position: absolute
                top: -4px
                left: 48%
                transform: rotate(45deg)
                width: 9px
                height: 9px
                box-shadow: -4px -3px 5px rgba(0, 0, 0, 0.12)
                background-color: white
    &__vk
        position: relative
        background: url('../img/footer/vk_grey.svg')
        background-size: 100% 100%
        &:hover
            cursor: pointer
            background: url('../img/footer/vk_blue.svg')
            background-size: 100% 100%
    &__facebook
        position: relative
        background: url('../img/footer/fb_grey.svg')
        background-size: 100% 100%
        &:hover
            cursor: pointer
            background: url('../img/footer/fb_blue.svg')
            background-size: 100% 100%
    &__insta
        position: relative
        background: url('../img/footer/instagram_grey.svg')
        background-size: 100% 102%
        &:hover
            cursor: pointer
            background: url('../img/footer/instagram_blue.svg')
            background-size: 100% 102%
    
    &__like
        padding-right: 9px
        border-right: 2px solid $text-color
    &_amount
        padding-left: 9px

    
    // --------------### MEDIA min-width: 992px ###-------------------//

@media (min-width: 992px)
    .join
        &__vk
            &:hover .join__comment_vk
                display: flex
        &__facebook
            &:hover .join__comment_fb
                display: flex
        &__insta
            &:hover .join__comment_inst
                display: flex
    // --------------### MEDIA max-width: 1170px ###-------------------//

@media (max-width: 1170px)
    .contact
        margin-right: 75px
        width: 194px
    .cabinet
        margin-right: 73px

    // --------------### MEDIA max-width: 950px ###-------------------//

@media (max-width: 950px)
    .footer
        // &-container
        //     justify-content: center
        &__join_wrapper
            flex-wrap: wrap
    .help
        margin-right: 97px
    .join
        width: 100%
    .cabinet
        margin-right: 0

    // --------------### MEDIA max-width: 751px ###-------------------//

@media (max-width: 751px)
    .footer
        &-section
            padding-top: 16px
        &__join_wrapper
            width: 162px
    .contact
        margin-right: 11px
    .help
        margin-right: 28px
    .cabinet
        margin-bottom: 15px
        &__subtitle
            margin-top: 22px
    .join
        &__social_wrapper
            margin-left: 0


    // --------------### MEDIA max-width: 661px ###-------------------//

@media (max-width: 661px)
    .footer
        &-container
            flex-direction: column
            align-items: center

    .contact, .help, .cabinet, .join
        display: flex
        flex-direction: column
        align-items: center
        margin-right: 0
        width: 100%
    .contact
        &__link
            text-align: center
    .help
        &__info
            text-align: center
    .cabinet
        &__info
            text-align: center

    // --------------### MEDIA max-width: 420px ###-------------------//

@media (max-width: 420px)
    .footer
        &-container
            width: 100%
            border-bottom: 1px solid lighten( $main-color, 42% )
            padding-bottom: 37px
        &__title
            margin-bottom: 0
        &__rights
            border-top: none
            width: 198px
            padding-top: 18px
            padding-bottom: 23px
            font-size: 13px
            font-weight: 300
            line-height: 17px
    .help
        &__title
            margin-top: 12px
            margin-bottom: 15px
        &_info
            line-height: 18px
        &__garranty
            margin-bottom: 10px
    .contact
        &__blog
            display: none
        &__tel
            margin-left: 1px
            line-height: 18px
    .cabinet
        &__title
            margin-top: 18px
            margin-bottom: 16px
        &__logo
            margin-top: 15px
    .join
        &__social_wrapper
            margin-left: -3px
