.footer
    &-section
        border-top: 1px solid lighten( $main-color, 42% )
        padding-top: 31px
        background-color: lighten( $main-color, 50% )
    &-container
        display: flex
        width: 1144px
        padding-bottom: 43px
    &__title
        margin-bottom: 16px
        +bold
        color: $text-color
        font-size: 14px
        font-weight: 900
        line-height: 12px
    &__join_wrapper
        width: 500px
        display: flex
    &__rights
        width: 83.7%
        margin: 0 auto
        padding-top: 31px
        padding-bottom: 37px
        text-align: center
        +regular
        color: $text-color
        font-size: 13px
        font-weight: 300
        line-height: 17px
        border-top: 1px solid lighten( $main-color, 42% )
.contact
    width: 159px
    margin-right: 181px
    &__link
        display: block
        margin-bottom: 12px
        width: 127px
        +regular
        text-transform: uppercase
        font-size: 14px
        font-weight: 600
        line-height: 18px
        color: $text-color
        &:hover
            color: $main-color
    &__btn
        width: 156px
        height: 40px
        margin-bottom: 15px
        +regular
        font-size: 13px
        font-weight: 500
        line-height: 21.47px
        color: white
        background-color: $main-color
        &:hover
            background-color: white
            color: $main-color
            border: 1px solid $main-color
    &__tel
        margin-bottom: 12px
        margin-top: 16px
        font-size: 16px

.help
    width: 195px
    margin-right: 97px
    &__info
        display: block
        margin-bottom: 8px
        width: 190px
        font-size: 14px
        +regular
        font-weight: 300
        line-height: 18px
        color: $text-color
        &:hover
            color: $main-color

.cabinet
    margin-right: 200px
    width: 170px
    &__info
        width: 125px
        display: block
        margin-bottom: 8px
        font-size: 14px
        +regular
        font-weight: 300
        line-height: 18px
        color: $text-color
        &:hover
            color: $main-color
    &__subtitle
        margin-top: 30px
        margin-bottom: 13px
    &__logo
        width: 162px
        height: 30px

.join
    width: 150px
    &__social
        &_wrapper
            display: flex
            justify-content: space-between
            width: 120px
            margin-left: -2px
            margin-top: 19px
        &_img
            width: 31px
            height: 31px
    &__vk
        background: url('../img/footer/vk_grey.svg')
        background-size: 100% 100%
        &:hover
            cursor: pointer
            background: url('../img/footer/vk_blue.svg')
            background-size: 100% 100%
    &__facebook
        background: url('../img/footer/fb_grey.svg')
        background-size: 100% 100%
        &:hover
            cursor: pointer
            background: url('../img/footer/fb_blue.svg')
            background-size: 100% 100%
    &__insta
        background: url('../img/footer/instagram_grey.svg')
        background-size: 100% 102%
        &:hover
            cursor: pointer
            background: url('../img/footer/instagram_blue.svg')
            background-size: 100% 102%

    // --------------### MEDIA max-width: 1170px ###-------------------//

@media (max-width: 1170px)
    .contact
        margin-right: 75px
        width: 194px
    .cabinet
        margin-right: 73px

    // --------------### MEDIA max-width: 950px ###-------------------//

@media (max-width: 950px)
    .footer
        // &-container
        //     justify-content: center
        &__join_wrapper
            flex-wrap: wrap
    .help
        margin-right: 97px
    .join
        width: 100%
    .cabinet
        margin-right: 0

    // --------------### MEDIA max-width: 751px ###-------------------//

@media (max-width: 751px)
    .footer
        &-section
            padding-top: 16px
        &__join_wrapper
            width: 162px
    .contact
        margin-right: 11px
    .help
        margin-right: 28px
    .cabinet
        margin-bottom: 15px
        &__subtitle
            margin-top: 22px
    .join
        &__social_wrapper
            margin-left: 0


