.goods
    &-container
        padding-bottom: 63px
    &__title
        margin-bottom: 18px
        +semibold
        font-size: 26px
        font-weight: 400
        line-height: 21px
        color: $text-color
    &__line
        margin-bottom: 19px
        width: 66px
        height: 1px
        border-bottom: 1px solid #e8e8e8
    &_swiper
        &-container
            display: block
    &__slider
        &_box
            width: 195px
            height: 186px
        &_img
            margin-top: 5px
            max-width: 100%
            max-height: 100%
        &_price
            +semibold
            font-size: 18px
            font-weight: 700
            font-weight: 400
            line-height: 15px
        &_title
            margin-bottom: 0
            margin-top: 17px
            font-size: 16px
            font-weight: 700
            line-height: 18px
            color: $text-color
            &_correct
                margin-top: 19px
        &_subtitle
            margin-top: 0
            font-size: 16px
            font-weight: 700
            line-height: 18px
            color: $text-color
    &_coorect
        margin-top: 8px

div.goods_swiper-slide
    width: 208px
    height: 306px
    +regular
    text-align: center
    font-size: 15px
    font-weight: 700
    line-height: 18px
    border: 1px solid #e8e8e8