.navbar
    &-container
        +flex_center
        margin: 0 auto
        padding-left: 7px
        padding: 30px 0 32px 2px
        height: 117px
    &-info
        +flex_center
        width: 323px
        &__numbers
            &_tel
                display: block
                +regular
                margin-left: -7px
                font-size: 16px
                font-weight: 400
                line-height: 21px
                color: $text-color
        &__btn
            width: 142px
            height: 36px
            margin-right: 3px
            border: 1px solid $main-color
            background-color: #ffffff
            +regular
            font-size: 11px
            font-weight: 400
            line-height: 21px
            color: $main-color
            &:hover
                background-color: $main-color
                color: white
    &-logo
        width: 164px
        margin-left: -101px
    &-client
        display: flex
        justify-content: space-between
        padding-right: 2px
        align-items: flex-end
        width: 219px

.icon
    position: relative
    +flex_center
    flex-direction: column
    padding-top: 7px
    &__info
        margin: 0
        +semibold
        font-size: 12px
        font-weight: 400
        line-height: 21px
        color: $text-color
.bas_correct
    margin-bottom: -4px
.heart
    padding-left: 7px

.circle
    position: absolute
    top: -13px
    right: 0
    +flex_center
    width: 23px
    height: 23px
    padding-left: 7px
    border-radius: 50%
    color: white
    background-color: #ffc740

// --------------### MEDIA max-width: 1170px ###-------------------//

@media (max-width: 1170px)
    .navbar
        &-logo
            margin-left: -42px

// --------------### MEDIA max-width: 950px ###-------------------//

@media (max-width: 950px)
    .navbar
        &-container
            height: 78px
        &-info
            display: none
        &-logo
            margin-left: 0

// --------------### MEDIA max-width: 750px ###-------------------//

@media (max-width: 750px)
    .navbar
        &-logo
            &_img
                width: 115px
                height: 38px
        &-client
            height: 100%
            width: 107px
    .dress_correct
        width: 22px
        height: 24px
    .heart
        padding: 0
    .heart_correct
        width: 22px
        height: 20px
    .bas_correct
        width: 27px
        height: 26px
    .icon__info
        display: none
    .circle
        top: -6px
        right: -3px
        padding-left: 6px
        width: 18px
        height: 18px
        font-size: 9px
        font-weight: 400
        line-height: 16.33px

// --------------### MEDIA max-width: 400px ###-------------------//

@media (max-width: 400px)
    .navbar
        &-logo
            &_img
                width: 108px
                height: 36px
    .circle
        top: -3px
        right: -6px
