.navbar
    &-container
        +flex_center
        margin: 0 auto
        padding: 30px 0 32px 0
        height: 117px
    &-info
        +flex_center
        width: 325px
        &__numbers
            &_tel
                display: block
                +regular
                font-size: 16px
                font-weight: 400
                line-height: 21px
                color: $text-color
        &__btn
            width: 142px
            height: 36px
            border: 1px solid $main-color
            background-color: #ffffff
            +regular
            font-size: 11px
            font-weight: 400
            line-height: 21px
            color: $main-color
            &:hover
                background-color: $main-color
                color: white

    &-client
        +flex_center
        width: 220px