.promo
    &-container
        padding-top: 41px
        padding-bottom: 40px
        box-sizing: border-box
        text-align: center
        height: 100%
        background: url('../img/promo/background_promo.png') no-repeat
    &__title
        margin-top: 0
        margin-bottom: 13px
        +semibold
        color: $text-color
        font-size: 20px
        font-weight: 400
        line-height: 21px
        text-transform: uppercase
    &__subtitle
        +regular
        margin-bottom: 19px
        font-size: 14px
        font-weight: 600
        line-height: 21px
        text-transform: uppercase
    &_line
        margin: 0 auto
        margin-bottom: -7px
        width: 59px
        height: 2px
        border-top: 2px solid $main-color
    &__form
        +flex_center
        margin: 0 auto
        width: 427px
        &_input
            display: block
            padding-left: 24px
            width: 300px
            height: 40px
            border: none
            border-radius: 20px
            font-size: 13px
            font-weight: 300
            line-height: 15px
            background-color: #ffffff
        &_btn
            display: block
            width: 122px
            height: 40px
            +regular
            font-size: 13px
            font-weight: 500
            line-height: 21.47px
            color: white
            background-color: $main-color
            &:hover
                color: $main-color
                background-color: white
                border: 1px solid $main-color
    &_follow
        +regular
        margin-top: 25px
        margin-bottom: 10px
        font-size: 14px
        font-weight: 600
        line-height: 21px
        text-transform: uppercase
    &__social_img
        margin-right: 3px
        &:hover
            cursor: pointer
    // --------------### MEDIA max-width: 751px ###-------------------//

@media (max-width: 751px)
    .promo
        &__title
            margin-bottom: 16px
            font-size: 16px
            font-weight: 400
            line-height: 21px
            text-transform: uppercase
        &__subtitle
            margin-top: 20px
        &-container
            padding-top: 38px
        &__form
            width: 420px
            &_input
                padding-left: 26px
                width: 265px
                height: 40px
            &_btn
                margin-right: 27px

    // --------------### MEDIA max-width: 649px ###-------------------//

@media (max-width: 649px)
    .promo
        &-container
            max-width: 596px

    // --------------### MEDIA max-width: 615px ###-------------------//

@media (max-width: 615px)
    .promo
        &-container
            max-width: 400px
            background-size: cover
        &__form
            display: flex
            flex-wrap: wrap
            justify-content: center
            width: 290px
            &_input
                padding-left: 0
                text-align: center
                margin-bottom: 11px
            &_btn
                margin-right: 0

    // --------------### MEDIA max-width: 420px ###-------------------//

@media (max-width: 420px)
    .promo
        &-container
            max-width: 290px
            padding-top: 35px
        &__subtitle
            width: 243px
            margin: 0 auto
            margin-top: 20px
            margin-bottom: 24px
            line-height: 18px
        &__form
            margin-bottom: -2px

            

        
        